body {
    font-family: sans-serif;
    background-color: #e8ecfa;
}
textarea {
    width: 300px;
}
.zapisek {
    margin-top: 10px;
    width: 300px;
}
.nadpis {
    font-weight: bold;
    float: left;
}
.tlacitka {
    float: right;
}
.tlacitka form {
    display: inline;
}
.obsah {
    clear: both;
}